/* Styles de base */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    background-color: #007471;
    color: #ffffff;
    padding: 30px 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Sections */
main {
    padding: 20px;
}

section {
    margin: 20px auto;
    max-width: 800px;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.8em;
    color: #de7471;
    margin-bottom: 10px;
}

section h3 {
    font-size: 1.4em;
    color: ##ADA0D1;
    margin-bottom: 8px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

section a {
    color: #007471;
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}

/* Images */
section img {
    display: block;
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 5px;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    padding: 15px 0;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}
